html {
  background-image:url("./media/yaoibg.png");
  background-size:cover;
  color: rgb(47, 0, 90);
}

.cont {
  background-color: rgb(191, 122, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  width: 75%;
}

#header {
  font-size: xx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  margin:20px;
  margin-left:auto;
  margin-right:auto;
}

#status {
  font-size: xxx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px;
  cursor: pointer;
}

#generateBtn, #musicBtn {
  font-weight: bold;
  background-color: rgb(107, 255, 179);
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#generateBtn {
  font-size: large;
  margin-bottom: 15px;
}

#musicBtn {
  font-size:small;
  margin-bottom: none;
}

#disclaimer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}